<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width; initial-scale=1; user-scalable=1">
    <meta charset="utf-8">
    <base target="_blank">
    <style>
    html, body, #map {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        color:black;
    }
    </style>

</head>
<body>
<div id="map"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='markerclusterer.js') }}"></script>
<script src="{{ url_for('static', filename='maps.js') }}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClJloL52eKrtxq9jMTyK3Mg-HAPm-Zuvc&callback=initMap"></script>
</body>
</html>
